<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerandrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <br><br><br><br><br>

    <%= link_to 'All Users', users_path %><br><br>
    <%= link_to 'All Restaurants', restaurants_path %><br><br>
    <%= link_to 'All Events', events_path %><br><br>
    <%= link_to 'All Programs', programs_path %>

  </body>
</html>
